<html>
<head>
  <link href="/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen">
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</head>
<body class="bp">

<div id="container">
  <%= yield -%>
</div>

</body>
</html>

